<div id="screen">
  <h1>
    <span>ABSOLUT</span>
    HACKER
  </h1>
  <span>
    <i class="fas fa-bug" data-num="1"></i>
    <i class="fas fa-brain" data-num="2"></i>
    <i class="fas fa-database" data-num="3"></i>
    <i class="fas fa-envelope" data-num="4"></i>
  </span>
  <ul id="logs">
  </ul>
  <span class="footer">
      Developed by @jadeallencook <br>
      <i class="fab fa-angular" data-num="5"></i>
      <i class="fab fa-html5" data-num="6"></i>
      <i class="fab fa-css3-alt" data-num="7"></i>
      <i class="fab fa-node-js" data-num="8"></i>
    </span>
    <span id="password">{{ password }}</span>
</div>
